<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Eigen website voor subdomein carpool">
          <match url="(.*)" />
          <conditions trackAllCaptures="true">
            <add input="{HTTP_HOST}" pattern="^(carpool)\.versoek\.nl$" />
            <add input="{PATH_INFO}" pattern="^/carpool" negate="true" />
          </conditions>

          <action type="Rewrite" url="/{C:1}/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>